body {
	overflow-x: hidden; 
	background-color: #1A2125;

}
.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    left: 214px;
    top: 90px;
}

.login-info-container {
    position: relative;
    width: 400px;
    height: 242px;
    left: 208px;
    top: 140px;
    background-color: #1A2125;
    background-image: url('planes.jpg');
    background-position: 29% 40%;

}

.email-label {
	position: relative;
	font-family: avenir-light;
	font-size: 20px;
	width: 150px;
	color: #1A2125;
}
#email {
	position: relative;
	width: 200px;
	height: 20px;
	left: 54px;
}

.password-label {
	position: relative;
	font-family: avenir-light;
	font-size: 20px;
	width: 150px;
	color: #1A2125;
} 

#password {
	position: relative;
	width: 200px;
	height: 20px;
	left: 20px;
}

.login-btn {
	  position: relative;
    text-align: center;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    left: 70px;
    top: 6px;
    background-color: #fff;
}
.login-btn:hover {
	background: rgba(0,0,0,0.5);
}


.register-anchor {
	 position: relative;
    width: 400px;
    top: 48px;
    text-decoration: none;
    right: 40px;
    color: #1A2125;
}

.container {
	position: relative;
	margin:38px;
	top: 55px;

}

.navbar-container {
	position: fixed;
	width: 100%;
	height: 60px;
	/*background-color: #4D382C;*/
	background-image: url("images/planes.jpg");
	color: #000;
	background-position: 30% 30%;
	background-size: cover;
	z-index: 6;
	top:0px;
	border-bottom: 1px #9E9E9E solid;
	left:0px;
}
.register {
	position: absolute;
	top: 20px;
	font-family: avenir-heavy;
}

.register a {
	color: #9E9E9E;
	text-decoration: none;
	position: absolute;
	width: 100px;
	height:100px;
	left: 60px;
}

.register a:hover {
	color: rgba(0,0,0,0.5);
}

.horizontal-line {
position: absolute;
    height: 1px;
    width: 100px;
    background-color: #1A2125;
    bottom: -42px;
    left: 87px;
}
.email-block {
	position: relative;
	margin-bottom: 15px;
}

.pass-block {
	position:relative;
	margin-bottom: 10px;
}
