body {
	overflow-x: hidden; 
	background-color: #1A2125;
	background-image: url('planes.jpg');

}
td {
	font-family: avenir-light;
	color: #9E9E9E;
}
tr {
	font-size: 25px;
	color: #BAA394;
}
.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    left: 214px;
    top: 90px;
}

.login-info-container {
    position: relative;
    width: 400px;
    height: 242px;
    left: 208px;
    top: 140px;
    background-color: #1A2125;
    background-image: url('planes.jpg');
    background-position: 29% 40%;

}
.register-anchor {
	 position: relative;
    width: 400px;
    top: 48px;
    text-decoration: none;
    right: 40px;
    color: #1A2125;
}

.container {
	position: relative;
	margin:38px;
	top: 55px;

}

.navbar-container {
	position: fixed;
	width: 100%;
	height: 60px;
	/*background-color: #4D382C;*/
	background-image: url("images/planes.jpg");
	color: #000;
	background-position: 30% 30%;
	background-size: cover;
	z-index: 6;
	top:0px;
	border-bottom: 1px #9E9E9E solid;
	left:0px;
}
.register {
	position: absolute;
	top: 20px;
	font-family: avenir-heavy;
}

.register a {
	color: #9E9E9E;
	text-decoration: none;
	position: absolute;
	width: 100px;
	height:100px;
	left: 60px;
}

.register a:hover {
	color: rgba(0,0,0,0.5);
}

.horizontal-line {
position: absolute;
    height: 1px;
    width: 100px;
    background-color: #1A2125;
    bottom: -42px;
    left: 87px;
}

.profile-container {
	position: relative;
	width : 50%;
	height: 500px;
	background-color: #fff;
	top: 36px;
	left:-8px;
	background-image: url('planes.jpg')
}

.id {
	color: #9E9E9E;
	text-decoration: none;
	position: absolute;
	width: 200px;
	height:100px;
	float: right;
}

.history a{
		color: #9E9E9E;
    text-decoration: none;
    position: relative;
    width: 200px;
    height: 100px;
    left: -42px;
    top: 16px;
    float: right;
    font-family: avenir-heavy;
    font-size: 20px;
}

.history a:hover {
	color: rgba(0,0,0,0.5);
}

.fname {
    position: relative;
    width: 200px;
    font-family: avenir-light;
    bottom: 24px;
    left: 120px;
}

.lname {
	position: relative;
  width: 200px;
  font-family: avenir-light;
  bottom: 24px;
  left: 120px;
}
.mail {
	position: relative;
	margin:25px;
	height:15px;
}
.firstn {
	position: relative;
	margin:25px;
	height:15px;
}
.lastn {
	position: relative;
	margin: 25px;
	height:15px;
}

.fname-title {
	position: relative;
	width: 300px;
	font-family: avenir-heavy;
	font-size: 20px;
	color: #9E9E9E;
}

.lname-title {
	position: relative;
	font-family: avenir-heavy;
	width: 300px;
	font-size: 20px;
	color: #9E9E9E;
}
.email-title {
	position: relative;
	font-family: avenir-heavy;
	width: 300px;
	font-size: 20px;
	color: #9E9E9E;
}

.user-email {
	position: relative;
  width: 100px;
  font-family: avenir-light;
  bottom: 24px;
  left: 81px;
}

.history-purchase {
	position: relative;
	display: none;
    height: 500px;
    width: 700px;
    float: right;
    background-color: #1A2125;
    opacity: 0.9;
    top: -131px;
    left: 103%;
}
.info {
	position: relative;
	top:10px;
}